@import 'variable.less';

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-size: 14px;
    font-family: 'Microsoft Yahei', 'DejaVu Sans Mono', monospace, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

svg {
    fill: @textColor;
}

[a-cloak] {
    display: none !important;
}

[a-invisible] {
    visibility: hidden !important;
}

.text-select-none {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p-absolute {
    position: absolute;
}

.l-0 {
    left: 0;
}
.r-0 {
    right: 0;
}
.t-0 {
    top: 0;
}
.b-0 {
    bottom: 0;
}

.fixed-left-top {
    position: fixed;
    left: 0;
    top: 0;
}
.fixed-left-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
}
.fixed-right-top {
    position: fixed;
    right: 0;
    top: 0;
}
.fixed-right-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
}

.anchor-left {
    float: left;
}
.anchor-right {
    float: right;
}

.disabled {
    cursor: not-allowed;
    filter: brightness(60%);
}
.no-pointer-event {
    pointer-events: none;
}
.clear-padding {
    padding: 0 !important;
}
.clear-margin {
    margin: 0 !important;
}
.display-none {
    display: none !important;
}
.alert-color {
    color: @alertColor;
}

.row-layout {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.column-layout {
    display: flex;
    flex-direction: column;
}

// ScrollBar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: @controlBgNormalColor;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: @controlBgHoverColor;
}

.tooltip-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span,
    strong {
        font-size: 0.8em;
        margin: 0.2em 1em;
    }
}

/** Utility */
.bg-primary {
    background: @primaryColor !important;
}
.bg-alert {
    background: @alertColor !important;
}
.bg-info {
    background: @infoColor !important;
}
.bg-warning {
    background: @warningColor !important;
}
.color-primary {
    color: @primaryColor !important;
}
.color-alert {
    color: @alertColor !important;
}
.color-info {
    color: @infoColor !important;
}
.color-warning {
    color: @warningColor !important;
}

// ScrollBar
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: @controlBgDarkColor;
}
::-webkit-scrollbar-thumb {
    background: @controlBgNormalColor;
}
::-webkit-scrollbar-thumb:hover {
    background: @controlBgHoverColor;
}
