/*********/
/** Node */
/*********/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: 'Microsoft Yahei', 'DejaVu Sans Mono', monospace, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.flow-view {
  background: -webkit-linear-gradient(top, transparent 29px, #2e2e2e 30px), -webkit-linear-gradient(left, #1d1d1d 29px, #2e2e2e 30px);
  background-size: 30px 30px;
  background-position-x: 4px;
  background-position-y: 4px;
  overflow: hidden !important;
  position: fixed;
  display: block;
  cursor: grab;
  width: 2048px;
  height: 2048px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flow-view .guid-line-h {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background: #454545;
  transform: translateY(-50%);
  z-index: 0;
}
.flow-view .guid-line-v {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  background: #454545;
  transform: translateX(-50%);
  z-index: 0;
}
.selection-frame {
  position: absolute;
  width: 0px;
  height: 0px;
  font-size: 0px;
  border: 1px dashed #aaa;
  background-color: #4b4b4b;
  z-index: 1000;
  opacity: 0.6;
}
.clear-background {
  background-color: transparent !important;
}
/********/
/* Node */
/********/
.node-widget {
  position: absolute;
  width: 110px;
  min-width: 110px;
  min-height: 22px;
  border-radius: 6px;
  background: #272727;
  border: 2px solid transparent;
  box-shadow: 0 0 15px #00000080;
  transition: border 0.2s ease-in-out;
  color: #cccccc;
  font-size: 0.7rem;
  opacity: 0.92;
  cursor: default;
  z-index: 10;
}
.node-widget:hover {
  border: 2px solid #6fbbf5;
}
.node-title {
  background: #3f3f3f;
  height: 28px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 28px;
  cursor: move;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.node-content {
  padding: 4px 10px 8px 10px;
  display: flex;
  flex-direction: column;
}
.node-prompt {
  color: #ffffff;
  margin-top: 4px;
  min-height: 24px;
  border-radius: 2px;
  padding: 4px;
}
.node-prompt i {
  margin-right: 4px;
}
/*************/
/* Interface */
/*************/
.node-interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
  min-height: 22px;
}
.interface-in {
  justify-content: flex-start;
}
.interface-out {
  justify-content: flex-end;
}
.input-widget-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.node-label,
.control-label,
.node-exec-label {
  user-select: none;
  color: #cccccc;
  font-size: 0.7rem;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  white-space: nowrap;
  height: 22px;
  line-height: 22px;
}
.node-exec-label {
  width: 100%;
}
.node-exec-label,
.node-label {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
}
.control-label {
  background: #565656;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/********/
/* Port */
/********/
.node-port-in,
.node-port-out {
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  background-color: red;
  border: 2px solid #272727;
  transition: all 0.2s ease-in-out;
  position: absolute;
}
.node-port-in {
  left: -10px;
}
.node-port-out {
  right: -10px;
}
.port-int,
.port-int:active {
  background: #6fbbf5;
}
.port-int:hover {
  background-color: #2b77b1;
}
.port-float,
.port-float:active {
  background-color: #ec8ef8;
}
.port-float:hover {
  background-color: #a84ab4;
}
.port-double,
.port-double:active {
  background-color: #70f68d;
}
.port-double:hover {
  background-color: #2cb249;
}
.port-string,
.port-string:active {
  background-color: #ebf879;
}
.port-string:hover {
  background-color: #a7b435;
}
.port-bool,
.port-bool:active {
  background-color: #ff7a7a;
}
.port-bool:hover {
  background-color: #bb3636;
}
.port-exec,
.port-exec:active {
  background-color: white;
}
.port-exec:hover {
  background-color: #bbbbbb;
}
.resize-indicator {
  color: #3f3f3f;
  position: absolute;
  right: 2px;
  bottom: 2px;
  border-top: 8px solid transparent;
  border-right: 8px solid #3f3f3f;
  cursor: nw-resize;
}
/***********************/
/*      Connection     */
/***********************/
.aproch-conn {
  position: absolute;
  min-width: 2px;
  min-height: 2px;
  z-index: 1;
}
.aproch-conn svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.aproch-conn .conn-path {
  fill: none;
  stroke-width: 2px;
}
/***********************/
/* Data Model Controls */
/***********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input {
  -moz-appearance: textfield;
}
.input-widget,
.node-item-selection {
  flex: 1 1 auto;
  color: #cccccc;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 20px;
  background: #454545;
  height: 22px;
  transition: all 0.3s ease-in-out;
  padding-left: 5px;
  padding-right: 5px;
}
.node-item-selection:hover,
.input-widget:hover {
  color: #ffffff;
  background: #4d4d4d;
}
.node-item-selection {
  appearance: none;
}
.node-item-selection option {
  margin: 100px;
  width: 140px;
  height: 40px;
  border: 1px solid #cccccc;
  position: relative;
}
.node-item-selection option select {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 20px;
}
/** Utility */
.bg-primary {
  background: #6fbbf5 !important;
}
.bg-alert {
  background: red !important;
}
.bg-info {
  background: #12d60c !important;
}
.bg-warning {
  background: #ccb805 !important;
}
.color-primary {
  color: #6fbbf5 !important;
}
.color-alert {
  color: red !important;
}
.color-info {
  color: #12d60c !important;
}
.color-warning {
  color: #ccb805 !important;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: #2b2b2b;
}
::-webkit-scrollbar-thumb {
  background: #454545;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}
